{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% trans "Chat avec GPT-4" %}{% endblock %}

{% block content %}
  <div class="flex-md-equal my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-1 py-3">
         <h1>{% trans "Chat avec GPT-4" %}</h1>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="border-radius: 21px 21px 0 0;">
        <form method="post" onsubmit="submitQuestion(event)">
          {% csrf_token %}
          <div class="form-row">
            <br>
            <div class="form-floating">
              <textarea style="  height: 100px" class="form-control fs-3" cols="10" id="question" name="question" placeholder="{% trans "Posez votre question" %}" required ></textarea>
              <br />
              <div class="underline"></div>
              <br />
            </div>
          </div>
          <button type="submit" class="btn btn-outline-dark me-2">{% trans "Envoyer" %}</button>
        </form>
      </div>
    </div>
    <div class="text-bg-succes me-md-3 pt-3 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
      <br>
      <h2>{% trans "Réponse" %}</h2>
      <div id="loading" style="display: none;" class="text-center mt-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">{% trans "Chargement..." %}</span>
        </div>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="border-radius: 21px 21px 0 0;">
        <p class="text-start p-3 fs-3" id="answer"></p>
      </div>
    </div>
  </div>
  <script>
    /**
      * Soumet une question à un serveur et affiche la réponse.
      *
      * Cette fonction est déclenchée par un événement de soumission de formulaire. Elle empêche le comportement
      * par défaut du formulaire, récupère la question saisie par l'utilisateur, envoie cette question au serveur
      * via une requête POST, puis affiche la réponse reçue du serveur dans l'élément avec l'ID 'answer'.
      *
      * @async
      * @function submitQuestion
      * @param {Event} event - L'événement de soumission du formulaire.
      * @returns {Promise<void>} Une promesse qui est résolue lorsque la fonction est terminée.
      *
    */
    async function submitQuestion(event){
      event.preventDefault();
      const question = document.getElementById('question').value;
      document.getElementById('loading').style.display = 'block';
      document.getElementById('answer').innerText = '';
      const response = await fetch('', {
        method:'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: new URLSearchParams({
          'question': question
        })
      });
      const  data = await response.json();
      document.getElementById('loading').style.display = 'none'
      if (data.error) {
        document.getElementById('answer').innerText = data.error;
      } else {
        document.getElementById('answer').innerText = data.answer;
      }
    }
  </script>
{% endblock %}