{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% trans "Publier" %}{% endblock %}

{% block content %}
  <div class="modal modal-signin position-static d-block p-5" >
    <div class="modal-content rounded-2 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">{% trans "Ajouter un article" %}</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        <form method="post">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ form.title }}
            <label for="floatingInput">{% trans "Titre" %}</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.content }}
            <label for="floatingPassword">{% trans "Contenu" %}</label>
          </div>
          <hr class="my-4">
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">{% trans "Ajouter" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}