{% extends "main/base.html" %}
{% load i18n %}

{% block title %}{% trans "Acceuil" %}{% endblock %}

{% block content %}
  <div class="p-4 p-md-5 mb-4 rounded">
    <h1 class="pb-4 mb-4 border-bottom"> {% trans "Articles publiés" %} </h1>
    {% for article in articles %}
      <article class="blog-post">
        <h3 class="blog-post-title text-center mb-1">{{ article.title }}</h3>
        <p class="blog-post-meta">{{ article.content }}</p>
        <p class="blog-post-meta text-right">{% trans "Le" %} {{ article.publicationDate|date:'j F Y'}}</p>
        <hr>
      </article>
    {% endfor %}
  </div>
{% endblock %}
